{% extends "base.html" %}


{% block contenido%}
        <div class="general">


            <div class="form">
                    <h1>SUGERENCIAS Y COMENTARIOS </h1>
                    <fieldset >
                    <form action="/comentarios/guardar/" id="IdFormularioC" method="POST">
                        {{ form.hidden_tag() }}<!--Evitar ataques de CRSF SIDE FORGUETTY-->
                        <div>
                            {{ form.documento.label }}
                            {{ form.documento() }}
                        
                            {{ form.nombre.label }}
                            {{ form.nombre() }}
                        </div>
                        <div>
                            {{ form.lugar.label }}
                            {{ form.lugar() }}
                        
                            {{ form.mensaje.label }}
                            {{ form.mensaje() }}
                        </div>
                        <hr>
            
                        <div>
                            {{form.botonEliminar()}}
                            {{form.botonActualizar()}}
                            {{form.botonCrear()}}
                            {{form.botonVisualizar()}}
                        </div>
                    </form>
                    </fieldset>
                    
                </form>
                <li class="nav__items"><a href="/menu" class="nav__links">Regresar a Menu principal</a></li>  

            </div>
        </div>   
{% endblock %}