{% extends "base.html" %}


{% block contenido%}
<section class="hero__container container">
    <section class="hero__card">
        <h1 > Welcome! </h1>
        <br>
        <br>
        <h2>  Aeropuerto Flaminio Suárez Camacho</H2>
            <br>
            <br>
            <br>
            <br>
        <a href="/" class="cta">Inicio</a>
        <a href="/reservas" class="cta">Reservas</a>
        <a href="/comentarios" class="cta">Calificacion</a>
        <a href="/vuelos" class="cta">Vuelos</a>
        <a href="/usuarios/<id_usuario>" class="cta">Usuario</a>

    </section-->
</header>
    
</section>
{% endblock %}
        

