{% extends "base.html" %}


{% block contenido%}
        <div class="general">

                <table border="1">
                    <tr>
                        <td>
                            id
                        </td>
                        <td>
                            nombre
                        </td>
                        <td>
                            Lugar de viaje                        </td>
                        <td>
                            Lugar de Destino
                        </td>
                        <td>
                            Salida
                        </td>
                        <td>
                            Regreso
                        </td>
                        <td>
                            Cantidad de pasajeros
                        </td>
                    </tr>
                    {% if row %}
                    <tr>
                        <td>
                            {{ row["documento"] }}
                        </td>
                        <td>
                            {{ row["nombre"] }}
                        </td>
                        <td>
                            {{ row["lugardesde"] }}
                        </td>
                        <td>
                            {{ row["hasta"] }}
                        </td>
                        <td>
                            {{ row["salida"] }}
                        </td>
                        <td>
                            {{ row["regreso"] }}
                        </td>
                        <td>
                            {{ row["cantidad"] }}
                        </td>
                    </tr>
                    {% endif %}
                </table>


        </div>   

    {% endblock %}