{% extends "base.html" %}


{% block contenido%}
        <div class="general">


            <div class="form">
                <form  name="formcalificacion" onsubmit="" action="/calificacion" method="GET" >
                    <h1>Calificacion del vuelo </h1>
                    <fieldset >
                        <br>
                        <label for="text"> Que tan satisfecho esta con nuestro sitio Aeropuerto Flaminio Suarez Camacho.com ? </label><br><br>
                        <p for="text" class="izquierda">Menos satisfecho</p>                     
                        <button id=miBoton >0</button>
                        <button id=miBoton >1</button>
                        <button id=miBoton> 2</button>
                        <button id=miBoton>3</button>
                        <button id=miBoton> 4</button>
                        <button id=miBoton>5</button>
                        <button id=miBoton>6</button>
                        <button id=miBoton>7</button>
                        <button id=miBoton>8</button>
                        <button id=miBoton>9</button>
                        <button id=miBoton>10</button>  
                        <p for="text" class="derecha">Muy satisfecho</p>
                        <br>
                        <br>
                        <label for="text">Cual es el principal motivo de su visita hoy?</label>
                        <select name="lugar" id="">
                            <option value="">Barranquilla</option>
                            <option value="">Bogota</option>
                        </select>
                        <br>
                        <br>
                        <hr>
                        <br>
                        <label for="text">Que podemos hacer para su proxima visita?</label><br> <br>
                        <textarea></textarea>
                        <br/> <br/>
                        <hr>
                        <br>
                        <label for="text">Tus respuesta sera utilizada de acuerdo a nuestra:</label><a href="politicas.html">politica de seguridad</a><br> <br>
                        <hr>
                        <br>
                        <button type="submit" onclick="alert('CALIFICACION ENVIADA')" >Enviar</button>
                    </fieldset>
                    
                </form>
                <li class="nav__items"><a href="/menu" class="nav__links">Regresar a Menu principal</a></li>  

            </div>
        </div>   
{% endblock %}