{% extends "base.html" %}


{% block contenido%}

<section class="hero__container container">
         
    <h1 class="hero__title">Aeropuerto Flaminio Suárez Camacho</h1>
        <p class="lead text-muted">Vuela alto  No para que el mundo te vea sino para que tu veas el mundo.</p>
    <p class="hero__paragraph"> Aeropuerto Flaminio Suárez Camacho </p>
    <section class="hero__card">
        <a href="#" class="cta">Vuelos</a>
        <a href="#" class="cta">Reservas</a>
        <a href="#" class="cta">Comentarios</a>
        <a href="#" class="cta">Prepara</a>
    </section-->
</header>
    
</section>
{% endblock %}
        

