<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aeropuerto Flaminio Suárez Camacho </title>
    <link rel="shortcut icon" href="./images/airplane.ico" type="image/x-icon">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/estilos.css">
    
<body>
    <header class="hero">
        <nav class="nav container">
            <div class="nav__logo">
                <h2 class="nav__title">Aeropuerto Flaminio Suárez Camacho.</h2>
            </div>
            <ul class="nav__link nav__link--menu">
                <li class="nav__items"><a href="#" class="nav__links">Inicio</a></li> 
                <li class="nav__items"><a href="#" class="nav__links">Login</a></li>  
                <li class="nav__items"><a href="#" class="nav__links">Vuelos</a></li>  
                <li class="nav__items"><a href="#" class="nav__links">Reservas</a></li>  
                
                <img src="./images/close.svg" class="nav-close" >
            </ul>
            <div class="nav-menu">
                <img src="./images/menu.svg" class="nav-img" alt="">
            </div>
        </nav>
        <section class="hero__container container">
         
            <h1 class="hero__title">Aeropuerto Flaminio Suárez Camacho</h1>
                <p class="lead text-muted">Vuela alto  No para que el mundo te vea sino para que tu veas el mundo.</p>
            <p class="hero__paragraph"> Aeropuerto Flaminio Suárez Camacho </p>
            <section class="hero__card">
                <a href="#" class="cta">Vuelos</a>
                <a href="#" class="cta">Reservas</a>
                <a href="#" class="cta">Comentarios</a>
                <a href="#" class="cta">Prepara</a>
            </section-->
          
        </section>
    </header>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="containerfooter">
          <span class="text-muted">Copyright © 2021-2021 grupo 2 Misiontic 2022 .</span>
          
        </div>
      </footer>

</body>
</html>