{% extends "base.html" %}


{% block contenido%}
        <div class="general">

            <div class="">


            </div>
            <div class="vuelos">
                <br>
                <br>
                <h1>VER VUELOS</h1>
                <br>
                <br>

                <form action="/salir" method="POST">
                    <fieldset>
                        {{ csrf_tokem }}

                        <input type="text" placeholder="codigo de vuelo" size="20px">
                        <input type="submit" onsubmit="vuelos()" action=" " value="VER VUELOS" >
                        <br>
                        <br>
                        <textarea></textarea>

                        <input type="submit" value="salir"> 


                    </fieldset>
                   
                </form>

            </div>

            <div class="form">

            
            </div>
        </div>   

    {% endblock %}