{% extends "base.html" %}


{% block contenido%}
        <div class="general">


            <div class="form">
                <form  name="formreservas" onsubmit="alert('Reserva registrada gracias por su compra')" action="/reservas" method="POST" >
                    <h1>RESERVA TU VUELO</h1>
                    <fieldset >
                        {{ csrf_tokem }}
                        <br>
                        <label for="text"> A donde viaja ? </label><br><br>
                        <label for="text">Desde:</label>
                        <select name="lugar" id="">
                            <option value="">Bogota</option>
                            <option value="">Barranquila</option>
                        </select>
                        <br>
                        
                        <label for="text">Hasta:</label>
                        <select name="lugar" id="">
                            <option value="">Barranquilla</option>
                            <option value="">Bogota</option>
                        </select>
                        <br>
                        <br>
                        <hr>
                        <br>
                        <label for="text">Cuando viaja?</label><br> <br>
                        <label for="text">Salida:</label>
                        <input type="date" id="date" required> <br/>
                        <label for="text">Regreso:</label>
                        <input type="date" id="date" required> <br/> <br/>
                        <br/> <br/>
                        <hr>
                        <br>
                        <label for="text">Cuantos viajan?</label><br> <br>
                        <label for="text">Pasajeros:</label>
                        <input type="number" size="6px" > <br>
                        <hr>
                        <br>
                        <button type="submit">Gestionar Reserva</button>
                    </fieldset>
                    
                </form>
                <li class="nav__items"><a href="/menu" class="nav__links">Regresar a Menu principal</a></li>  

            </div>
        </div>   
{% endblock %}