{% extends "base.html" %}


{% block contenido%}
<div class="general">

    <section class="formularioRegistro">
         
            <h1>MODIFICAR USUARIO</h1>
            <div class="form">
                <form  name="formUser" onsubmit="" action="/usuarios" method="POST">
                    <fieldset>
                        {{ csrf_tokem }}
                        <img src="{{ url_for('static', filename='images/face2.jpg') }}" alt=""><br>
                        <label for="nombre">Nombre</label>
                        <input type="text" id="nombre" required> <br/> <br/>
                        <label for="correo">Correo</label>
                        <input type="email" id="email" required> <br/> <br/>
                        <label for="contrasena">Contraseña</label>
                        <input type="text" id="contrasena" required>
                        <select name="tipo" id="">
                            <option value="PIloto"> Piloto</option>
                            <option value="PIloto"> Viajero frecuente </option>
                        </select>

                        <button type="submit" onclick ="alert('usuario guardado')"  >Guardar</button>
                    </fieldset>
                </form>
                <li class="nav__items"><a href="/menu" class="nav__links">Regresar a Menu principal</a></li>  

            </div>
            </section>
    </div>

    {% endblock %}