<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>
    {% block contenido %}
    <form action="" id="IdFormulario" method="post">
        {{ form.hidden_tag() }}
        <div>
            {{ form.documento.label }}
            {{ form.documento() }}
        </div>
        <div>
            {{ form.nombre.label }}
            {{ form.nombre() }}
        </div>
        <div>
            {{ form.ciclo.label }}
            {{ form.ciclo() }}
        </div>
        <div>
            {{ form.sexo.label }}
            {{ form.sexo() }}
        </div>
        <div>
            {{ form.estado.label }}
            {{ form.estado() }}
        </div>
        <div>
            {{form.botonEliminar()}}
            {{form.botonActualizar()}}
            {{form.botonCrear()}}
            {{form.botonVisualizar()}}
        </div>
    </form>
    {% endblock %}
</body>
</html>