h1{
    font-style: serif;
    text-align: center;
    color: lightblue;
    background-color: lightgrey;
}
form{
    width: 350px;
    padding: 16px;
    border-radius: 10px;
    margin: auto;
    background-color: #ccc;

}
input {
    
    border-radius: 5px;
    background-color: aqua;
}
button{
        text-align: center;
        font-weight: bold;
    }

.imgOjitoPassword{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
