{% extends "base.html" %}

{% block titulo %} Inicio {% endblock %}

{% block contenido %}
    

    {% if sesion_iniciada %}

        <h2>Bienvenido</h2>

        <br>

        {% for  key, noticia in lista_noticias.items() %}
            <h2>{{ noticia.titulo }}</h2>
            <p>{{ noticia.cuerpo }} <a href="/noticia/{{ key }}">[click aqui]</a> </p>

            {% for imagen in noticia.imagenes %}
                <p> {{ image }}</p>
            {% endfor %}
        {% endfor %}


        <form action="/salir" method="POST">

            {{ csrf_tokem }}
    
            <input type="submit" id='' value="salir">
        </form>
    {% else %}
        <p>PARA PODER VER LAS NOTICIAS DEBES INICIAR SESION:    <a href="/ingreso">[CLIC AQUI]</a></p>
    {% endif %}
{% endblock %}
